# 1)Abrir o sistema d aempresa sitema:https://dlp.hashtagtreinamentos.com/python/intensivao/login
#2)Fazer o login 
#3) Pegar a base de dados dos produtos
#4)cadastrar um producto
#5) repetir o passo 4 ate o ultimo producto 


import pyautogui
import time
pyautogui.PAUSE=0.5
#pyautogui.click
pyautogui.press("win")
pyautogui.write("chrome")
pyautogui.press("enter")
pyautogui.write("https://dlp.hashtagtreinamentos.com/python/intensivao/login")
pyautogui.press("enter")

time.sleep(3) 

pyautogui.click(x=548,y=552)
pyautogui.write("chicogrowthweb@gmail.com")
pyautogui.press("tab")
pyautogui.write("1234567890")
pyautogui.press("tab")
pyautogui.press("enter")

import pandas as pd
table= pd.read_csv("produtos.csv")

print(table)
time.sleep(2)

for linha in table.index:
    pyautogui.click(x=613,y=390) 
    codigo=table.loc[linha,"codigo"]
    pyautogui.write(str(codigo))
    pyautogui.press("tab")

    pyautogui.write(str(table.loc[linha,"marca"]))
    pyautogui.press("tab")

    pyautogui.write(str(table.loc[linha,"tipo"]))
    pyautogui.press("tab")

    pyautogui.write(str(table.loc[linha,"categoria"]))
    pyautogui.press("tab")

    pyautogui.write(str(table.loc [linha,"preco_unitario"]))
    pyautogui.press("tab")

    pyautogui.write(str(table.loc [linha,"custo"]))
    pyautogui.press("tab")

    obs=table.loc[linha,"obs"]
    if not pd.isna(obs):
        pyautogui.write(str(table.loc[linha,"obs"]))

    
    pyautogui.press("tab")

    pyautogui.press("enter")

    pyautogui.scroll(5000)


